@{
    ViewData["Title"] = "Insurance Quotes";
}

<div class="text-center">
    <h1 class="display-4">Get Your Insurance Quote</h1>
    <p>Click the button below to get an instant insurance quote.</p>
    <a asp-action="Create" class="btn btn-primary btn-lg">Get Quote</a>
</div> 